<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Color-Palette</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div style="margin-top: 5%">
            <h2 style="text-align: center;">Decoding</h2>
            <p style="text-align: center;">Decode the hidden message in the image encoded.
                <br> Don't have image with hidden message? <strong><a href="{{url_for('index')}}">Create
                        one</a></strong> </p>
        </div>
        <!-- <div class="row">
            <div class="six columns" style="padding-right: 10px">
                <img src="{{url_for('static', filename='images/3.jpg')}}" width="450" height="310">

            </div>
            <div class="six columns" style="padding-left: 10px">
                <img src="{{url_for('static', filename='images/4.jpg')}}" width="450" height="310">
            </div>
        </div> -->
        <div style="padding-top: 40px">
            {% if hidden_message%}
            <h3 style="text-align: center;"><u>Hidden Message</u></h3>
            <hr>
            <h4>{{hidden_message}}</h4>
            <hr>
            {% endif %}
            <!-- <p>You can then save the image and send it to a friend, who
                can <strong><a href="{{url_for('decode')}}">DECODE</a></strong> the message in it.</p> -->
            <form method="POST" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <!-- <div class="row"> -->
                <!-- <div class="six columns"> -->
                <h5><u>Upload Image</u></h5>
                <!-- <p>Upload image</p> -->
                <div>
                    {{form.photo()}}
                    {% for error in form.photo.errors %}
                    <span style="color:red;">{{ error}}</span>
                    {% endfor %}
                </div>
        </div>
        <input class="button-primary" type="submit" value="submit">
        </form>
    </div>

    </div>

</body>

</html>