{% extends "layout.html" %} {% block content %}
<div class="margin-top-big">
  <h2 class="text-align-center">Decoding</h2>
  <p class="text-align-center">
    Decode the hidden message in the image. <br />
    Don't have image with hidden message? <strong><a href="{{url_for('index')}}">Create one</a></strong>
  </p>
</div>
<div class="margin-top-big">
  {% if hidden_message%} {% if hidden_message == "no_hidden_message" %}
  <h5 style="color: red">
    Not any hidden message in image. <strong><a href="{{url_for('index')}}">Create One?</a></strong>
  </h5>
  {% else %}
  <h3 class="text-align-center"><u>Hidden Message</u></h3>
  <hr />
  <h4 style="color: blueviolet">{{hidden_message}}</h4>
  <hr />
  {% endif %} {% endif %}
  <form method="POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <h5><u>Upload Image</u></h5>
    <div>
      {{form.photo(onchange='handleImageUpload(event)')}} {% for error in form.photo.errors %}
      <span style="color: red">{{ error}}</span>
      {% endfor %}
    </div>
    <input class="button-primary" type="submit" value="submit" />
  </form>
</div>
{% endblock content %}
