<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Steganography</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div style="margin-top: 5%">
            <h2 style="text-align: center;">Decoding</h2>
            <p style="text-align: center;">Decode the hidden message in the image.
                <br> Don't have image with hidden message? <strong><a href="{{url_for('index')}}">Create
                        one</a></strong> </p>
        </div>
        <div style="padding-top: 40px">
            {% if hidden_message%}
            {% if hidden_message == "no_hidden_message" %}
            <h5 style="color: red;">Not any hidden message in image. <strong><a href="{{url_for('index')}}">Create One?</a></strong></h5>
            {% else %}
            <h3 style="text-align: center;"><u>Hidden Message</u></h3>
            <hr>
            <h4 style=" color: blueviolet;">{{hidden_message}}</h4>
            <hr>
            {% endif %}
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <h5><u>Upload Image</u></h5>
                <div>
                    {{form.photo()}}
                    {% for error in form.photo.errors %}
                    <span style="color:red;">{{ error}}</span>
                    {% endfor %}
                </div>
        </div>
        <input class="button-primary" type="submit" value="submit">
        </form>
    </div>

    </div>

</body>

</html>