<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Steganography</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">

    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        <div style="margin-top: 5%">
            <h2 style="text-align: center;">Steganography </h2>
            <p style="text-align: center;">basic web wrapper of the amazing <a href="https://github.com/cedricbonhomme/Stegano">stegano</a>
                library</p>
        </div>
        <div style="text-align: center;">
            <h4 style="display: inline; margin-right: 5%"><strong><a href="{{url_for('index')}}">Encoding</a></strong></h4>
            <h4 style="display: inline"><strong><a href="{{url_for('decode')}}">Decoding</a></strong></h4>
        </div>
        <div style="padding-top: 40px">
            <p>Hide secret message in an image. Upload a PNG image file and write a message. Using the stegano library,
                the message will be encoded into the image. </p>
            <p><strong><u>You can then save the image and send it to a friend</u></strong>, who
                can then <strong><a href="{{url_for('decode')}}">DECODE</a></strong> the message in it.</p>
            <form method="POST" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <label>Secret message (less than 100 charachters)</label>
                {{form.message(class="u-full-width")}}
                {% for error in form.message.errors %}
                <span style="color:red;">{{ error}}</span>
                {% endfor %}
                <h5><u>Optional</u></h5>
                <p>Upload a PNG image( <u>or don't to use a default image</u>)</p>
                <div>
                    {{form.photo()}}
                    {% for error in form.photo.errors %}
                    <span style="color:red;">{{ error}}</span>
                    {% endfor %}
                </div>
        </div>
        <input class="button-primary" type="submit" value="submit">
        </form>
    </div>

    </div>

</body>

</html>